services:
  kafka:
    image: apache/kafka:4.0.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
#      # Configure listeners for both docker and host communication
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
#      # Settings required for KRaft mode
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
#      # Required for a single node cluster
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - gerenciamento-insumos-net

  controle-servicos:
    platform: linux/amd64
    build: ./fiap-hackaton-controle-servicos
    container_name: controle-servicos
    ports:
      - "8761:8761"
    networks:
      - gerenciamento-insumos-net

  gateway:
    platform: linux/amd64
    build: ./fiap-hackaton-gateway
    container_name: gateway
    ports:
      - "8080:8080"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
    depends_on:
      - controle-servicos
    networks:
      - gerenciamento-insumos-net

  usuarios-service:
    platform: linux/amd64
    build: ./fiap-hackaton-usuarios
    container_name: usuarios-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - controle-servicos
    networks:
      - gerenciamento-insumos-net

  unidades-service:
    platform: linux/amd64
    build: ./fiap-hackaton-estabelecimento-saude
    container_name: unidades-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - controle-servicos
    networks:
      - gerenciamento-insumos-net

  estoque-service:
    platform: linux/amd64
    build: ./fiap-hackaton-estoque
    container_name: estoque-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - controle-servicos
    networks:
      - gerenciamento-insumos-net

  insumos-service:
    platform: linux/amd64
    build: ./fiap-hackaton-insumos
    container_name: insumos-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - controle-servicos
    networks:
      - gerenciamento-insumos-net

  inteligencia-service:
    platform: linux/amd64
    build: ./fiap-hackaton-inteligencia
    container_name: inteligencia-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - controle-servicos
    networks:
      - gerenciamento-insumos-net

  movimentacoes-service:
    platform: linux/amd64
    build: ./fiap-hackaton-movimentacoes
    container_name: movimentacoes-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - controle-servicos
    networks:
      - gerenciamento-insumos-net

  notificacoes-service:
    platform: linux/amd64
    build: ./fiap-hackaton-notificacao-insumos
    container_name: notificacoes-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - controle-servicos
      - insumos-service
      - inteligencia-service
      - kafka
    networks:
      - gerenciamento-insumos-net

  notificacoes-service-consumer:
    platform: linux/amd64
    build: ./fiap-hackaton-notificacao-insumos-consumer
    container_name: notificacoes-service-consumer
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://controle-servicos:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - controle-servicos
      - notificacoes-service
      - kafka
    networks:
      - gerenciamento-insumos-net

networks:
  gerenciamento-insumos-net:
    driver: bridge