services:
  kafka:
    image: apache/kafka:4.0.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      #      # Configure listeners for both docker and host communication
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      #      # Settings required for KRaft mode
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
      #      # Required for a single node cluster
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - gerenciamento-insumos-net

  eureka-service:
    platform: linux/amd64
    build: ./fiap-hackaton-eureka
    container_name: eureka-service
    ports:
      - "8761:8761"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    networks:
      - gerenciamento-insumos-net

  controle-requisicao-service:
    platform: linux/amd64
    build: ./fiap-hackaton-controle-servicos
    container_name: controle-requisicao-service
    ports:
      - "8083:8083"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      eureka-service:
        condition: service_healthy
    networks:
      - gerenciamento-insumos-net

  hackaton-usuarios:
    platform: linux/amd64
    build: ./fiap-hackaton-usuarios
    container_name: hackaton-usuarios
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      eureka-service:
        condition: service_healthy
    networks:
      - gerenciamento-insumos-net

  estabelecimento-saude:
    platform: linux/amd64
    build: ./fiap-hackaton-estabelecimento-saude
    container_name: estabelecimento-saude-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      eureka-service:
        condition: service_healthy
      hackaton-usuarios:
        condition: service_started
    networks:
      - gerenciamento-insumos-net

  insumos:
    platform: linux/amd64
    build: ./fiap-hackaton-insumos
    container_name: insumos
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      eureka-service:
        condition: service_healthy
    networks:
      - gerenciamento-insumos-net

  movimentacao-service:
    platform: linux/amd64
    build: ./fiap-hackaton-movimentacoes
    container_name: movimentacao-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      eureka-service:
        condition: service_healthy
    networks:
      - gerenciamento-insumos-net

  estoque-service:
    platform: linux/amd64
    build: ./fiap-hackaton-estoque
    container_name: estoque-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      eureka-service:
        condition: service_healthy
      estabelecimento-saude:
        condition: service_started
      insumos:
        condition: service_started
      movimentacao-service:
        condition: service_started
    networks:
      - gerenciamento-insumos-net

  inteligencia-service:
    platform: linux/amd64
    build: ./fiap-hackaton-inteligencia
    container_name: inteligencia-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      eureka-service:
        condition: service_healthy
      movimentacao-service:
        condition: service_started
      estoque-service:
        condition: service_started
      estabelecimento-saude:
        condition: service_started
      insumos:
        condition: service_started
    networks:
      - gerenciamento-insumos-net

  notificacao-insumos:
    platform: linux/amd64
    build: ./fiap-hackaton-notificacao-insumos
    container_name: notificacao-insumos
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      eureka-service:
        condition: service_healthy
      kafka:
        condition: service_started
      inteligencia-service:
        condition: service_started
      estabelecimento-saude:
        condition: service_started
    networks:
      - gerenciamento-insumos-net

networks:
  gerenciamento-insumos-net:
    driver: bridge